<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Search Book</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<header>
    <h1>🔍 Search Book</h1>
</header>

<div class="container">

    <div class="card">

        <h2>Search Books</h2>

        <form>
            <input type="text" placeholder="Enter Book Title">
            <button type="submit">Search</button>
        </form>

        <br>

        <a href="/home">⬅ Back to Dashboard</a>

    </div>

</div>

</body>
</html>